@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* @media screen and (max-width: 768px) {
  .sidebar-nav {
    width: 100%;
    padding: 2rem 1rem;
    left: ${({ sidebar }) => (sidebar ? "0" : "-100%")};
  }
} */

.header{
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-normal-default{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #04103B;
}

.header p{
  font-weight: bold;
  color: #311E69;
  font-size: 20pt;
}


.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.homes{
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
}


.logo{
	display: block;
	width: 120px;
	margin: auto;
	color: #fff;
}

.logo img{
	display: block;
	width: 100%;
	height: 100%;
  border-radius: 50%;
}

.navbar{
  background-color: #311e69;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 350ms;
  z-index: 10;}

.navbar.active {
  transform: translateX(200px);
}

.nav-link-user{
	display: flex;
  justify-content: center;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 5px;
  font-weight: bold;
}
.nav-link-jabatan{
	display: flex;
  justify-content: center;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin-bottom: 5px;
}

.hr{
  background-color: #fff;
}

.navbar{
	transform: translateX(-100%);
}

.App {
    text-align: left;
    color: #311E69;
  }
  
  .grid{
    height: 100vh;
    background-color: #311E69;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .gambar{
    width: 600px;
    margin-left: 200px;
    margin-top: 10px;
  }
  
  

  /*Card */
  .card-realtime-update{
    position: block;
    width: 200px;
    height: 70px;
    background: #311E69;
    border-radius: 20px 0px 0px 20px;
  }
  .card-realtime-success{
    position: block;
    width: 200px;
    height: 70px;
    background: #2CC285;
    border-radius: 20px 0px 0px 20px;
  }

  .card-realtime-primary{
    position: block;
    width: 200px;
    height: 90px;
    background: #311E69;
    border-radius: 20px 0px 0px 20px;
  }

  .card-realtime-grey{
    position: block;
    width: 200px;
    height: 90px;
    background: #464549;
    border-radius: 20px 0px 0px 20px;
  }

  .card-body-realtime{
    position: relative;
    width: 143.45px;
    height: 37.33px;
    left: 20px;
    top: 12px
  }

  .text-title-card-realtime{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    }

  .text-card-realtime{
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
    }


  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  /* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */
  
  /* :root{
    --mainDark: #343a34;
    --mainGrey: rgb(255, 255, 255);
    --mainLightGrey: rgb(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
  }
   */
  /* .App-link {
    color: #61dafb;
  } */
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media only screen and (max-width: 1240px) {
    .gambar{
      width: 0px;
    }
    .paper{
      position: relative;
      padding-left: 250px;
      justify-content: center;
    }
    .grid{
      height: 500;
      width: 400;}
  }

  @media only screen and (max-width: 800px) {
    .gambar{
      width: 0px;
    }
    .paper{
      position: relative;
      padding-left: 50px;
      justify-content: center;
      height: 500;
      width: 400;
    }
  }

  @media only screen and (max-width: 420px) {
    .gambar{
      width: 0px;
    }
    .paper{
      position: relative;
      padding-left: 1px;
      justify-content: center;
    }
  }
 
  @media only screen and (max-width: 400px) {
    .gambar{
      width: 0px;
    }
    .paper{
      position: relative;
      padding-left: 2px;
      justify-content: center;
    }
  }
  
   /* body {
    background-color: #311E69;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-top: 5px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #3E8E41;
  }
  input[type="file"] {
    margin-top: 5px;
  }
  
  .profile-picture {
    text-align: center;
  }
  
  .profile-picture img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  @media screen and (orientation: portrait) {
    .edit-profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  body {
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="file"] {
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #3E8E41;
}

.profile-picture {
  text-align: center;
}

.profile-picture img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
} */

.bg-edit-profile {
  /* padding-top: 30px; */
  /* height: 100vh; */
  background-color: #fff;
}
.edit-profile {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}

.input-text{
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d41111;
  margin-bottom: 10px;
}

.input-profile{
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-profile-file{
  margin-top: 5px;
}

.button-1 {
  display: inline-block;
  background-color: #8473ED !important;
  border-color: #8473ED !important;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-1:hover {
  background-color: #8473ED !important;
}

.profile-picture {
  margin-bottom: 20px;
}

.profile-picture img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

/* Posting */
.judul-forum{
  text-align: center;
  color: #311E69;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.panel-forum {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel-body {
    padding: 25px 20px;
}

.media-block .media-left {
    display: block;
    float: left;
    padding-right: 20px;
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}

.button-sub-forum{
  background-color: #311E69 !important;
  border-color: white !important;
  margin-left: 15px;
}

.button-sub-forum:hover{
  background-color: #8473ED !important;
  
}


.button-comment {
    background-color: white !important;
    border-color: white !important;
    color: #311E69 !important;
}

.button-comment:hover{
  background-color: #8473ED !important;
  color: white !important;
  border-color: transparent;
}

.mar-top {
    margin-top: 15px;
}



/* Comments */
.button-sub-comment{
  background-color: #311E69 !important;
  border-color: white !important;
  border-color: transparent;
}

.button-sub-comment:hover{
  background-color: #8473ED !important;
  border-color: transparent;
}

.be-comment-block {
  margin-bottom: 50px !important;
  border-radius: 2px;
  padding: 50px 70px;
}

.comments-title {
  color: #311E69;
  margin-bottom: 20px;
  text-align: center;
}

.be-img-comment {
  width: 60px;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}

.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content {
  margin-left: 80px;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 13px;
  font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
  color: #383b43;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #7a8192;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 20px 20px 20px;
}

.form-com{
  width: 100%;
  display: flex;
  align-items: start;
}
.textarea{
  resize: none
}

.download {
  background-color: #8573e9;
  color: white;
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.delete-icon:hover {
  color: red;
  cursor: pointer;
}

.hovered {
  color: red;
}

/* spinner */

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #8e92d9 #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #311e69 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
}
}